html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #2a3bd2, #21adc3);
}
#page-content {
  flex-grow: 2;
}

a {
  color: black;
}

input {
  border: 1px solid black;
  border-radius: 5px;
}

button {
  background-image: linear-gradient(to right, #24c7dc, #2f27c2);
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.6s ease;
}

button:hover {
  background-image: linear-gradient(to right, #24dc5b, #8c27c2);
}